{
  "extends": ["airbnb-typescript-prettier"],
  "rules" : {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-useless-constructor": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}

