video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.logo-name{
    color: #FAC60E;
}

.logo{
    width: 246px;
    height: 246px;
    margin-top: 70px;
}

.boards-container .boards > h1{
    color: #FAC60E;
    font-size: 36px;
    font-weight: bold;
    margin-top: 70px;
    text-align: center;
}

.box{
    background: rgba(0, 0, 0, 0.6);
    width: 700px;
    height: 180px;
    padding: 10px;
    margin-top: 20px;
}

.box li{
    color: #ffff;
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (min-width: 960px){
    .boards-container{
        height: 110vh;
    }
}

@media screen and (max-width: 960px){
    .boards-container{
    height: 100vh;
    }

    .logo{
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    .boards-container .boards > h1{
        font-size: 30px;
        margin-top: 80px;
    }

    .box{
        width: 500px;
        height: 170px;
        padding: 8px;
    }

    .box li{
        font-size: 13px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .logo{
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    .boards-container .boards > h1{
        font-size: 25px;
        margin-top: 100px;
    }

    .box{
        width: 320px;
        height: 150px;
        padding: 5px;
    }

    .box li{
        font-size: 12px;
        margin-bottom: 15px;
    }
}