@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.boards-container {
  background: url('https://c4.wallpaperflare.com/wallpaper/768/340/909/music-stars-background-80s-wallpaper-preview.jpg');
  background-position: center;
  background-size: cover;
}

.bg-purple-gradient {
  @apply bg-gradient-to-b from-purple-dark to-purple-light;
}

.navbar {
  @apply sticky top-0 z-10 py-1 px-5 w-full bg-purple-dark text-white shadow-md;
  @apply flex flex-row justify-between;
}
